@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
menu {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul,
menu {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 42px 0 24px 0;
  color: #ffffff;
  background-color: #181719;
  font-family: Montserrat;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  flex-direction: column;
}

.start {
  align-items: flex-start;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.header {
  height: 32px;
  width: 100%;
  flex: 0 0 42px;
}

.logo {
  height: 100%;
  width: 107px;
  padding: 8px;
  font-family: "Crimson Pro";
  font-weight: 200;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}

.menu-nav {
  width: 480px;
}
.menu-nav__item {
  position: relative;
  cursor: pointer;
}
.menu-nav__item.active:before, .menu-nav__item:hover::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.burger {
  width: 28.5px;
  height: 19px;
  position: relative;
  display: none;
  cursor: pointer;
}
.burger__line {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}
.burger__line:first-child {
  position: absolute;
  top: 0;
  left: 0;
}
.burger__line:last-child {
  position: absolute;
  bottom: 0;
  left: 0;
}
.burger__line:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.twist .burger__line:first-child {
  display: inline-block;
  transform: rotate(-45deg) translateY(11px);
}
.twist .burger__line:last-child {
  display: inline-block;
  transform: rotate(45deg) translateY(-12px);
}
.twist .burger__line:nth-child(2) {
  display: none;
}

.showMenu {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #181719;
  z-index: 10;
}
.showMenu .menu-nav {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.showMenu .burger {
  position: absolute;
  top: 50px;
  right: 50px;
}

.footer {
  height: 17px;
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  flex: 0 0 17px;
  text-align: center;
}

@media (max-width: 767px) {
  .burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -40%;
    right: 30px;
  }
  .menu-nav {
    display: none;
    height: 200px;
    flex-direction: column;
  }
}
.main {
  width: 100%;
  flex: 1 1 auto;
}
.main__wrapper {
  width: 100%;
  height: 100%;
  padding-top: 85px;
}

.interior__text {
  height: 316px;
  max-width: 35%;
  flex: 0 1 40%;
  font-size: 12px;
}
.interior__heading {
  font-family: Lora;
  font-style: normal;
  font-weight: 500;
  font-size: 4em;
  line-height: 125%;
}
.interior__descr {
  margin-top: 40px;
  width: 100%;
  height: 145px;
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 125%;
}
.interior__descr::before {
  content: "Read more →";
  position: absolute;
  bottom: -90%;
  left: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 125%;
}
.interior__pic {
  flex: 0 1 47%;
  max-width: 70%;
  position: relative;
  object-fit: contain;
}
.interior__img {
  width: 100%;
  height: auto;
}

.signature {
  width: 370px;
  height: 190px;
  padding: 16px 26px 34px 26px;
  position: absolute;
  bottom: -110px;
  right: 5%;
  background-color: #181719;
  font-size: 14px;
}
.signature__author {
  height: 50px;
  width: 175px;
}
.signature__title {
  width: 100%;
  height: 62px;
  font-family: Lora;
  font-style: normal;
  font-weight: 700;
  font-size: 2em;
  line-height: 110%;
}

.author__img {
  height: 100%;
  width: auto;
  border-radius: 100%;
}
.author__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2em;
  line-height: 130%;
}
.author__job-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 130%;
  color: #828282;
}

@media (max-width: 1200px) {
  .signature {
    width: 320px;
    right: 3%;
  }
  .interior__text {
    font-size: 10px;
    max-width: 45%;
    flex-basis: 45%;
  }
  .interior__descr:before {
    bottom: -50%;
  }
}
@media (max-width: 767px) {
  .main__wrapper {
    height: auto;
    min-height: 100%;
    padding-top: 10px;
  }
  .main__wrapper.row {
    flex-direction: column;
    align-items: center;
  }
  .interior__text {
    font-size: 12px;
    flex: 1 1 45%;
    max-width: 80%;
    margin-bottom: 50px;
  }
  .interior__descr:before {
    bottom: -25%;
  }
  .interior__pic {
    max-width: 80%;
    margin-bottom: 130px;
  }
  .signature {
    height: 150px;
    padding: 1.3em 1.5em 2em 1.5em;
    font-size: 12px;
    bottom: -100px;
  }
}
@media (max-width: 576px) {
  .interior__text {
    font-size: 8px;
    flex: 1 1 27%;
    max-width: 90%;
    margin-bottom: 20px;
  }
  .interior__descr:before {
    bottom: 10px;
  }
  .interior__pic {
    max-width: 90%;
    flex: 1 1 30%;
    margin-bottom: 40px;
  }
  .signature {
    font-size: 10px;
    width: 250px;
    height: 138px;
    bottom: -20px;
  }
}

/*# sourceMappingURL=style.css.map */
