@include desktop {
  .signature {
    width: 320px;
    right: 3%;
  }
  .interior {
    &__text {
      font-size: 10px;
      max-width: 45%;
      flex-basis: 45%;
    }

    &__descr:before {
      bottom: -50%
    }
  }

}

@include tablet {
  .main {
    &__wrapper {
      height: auto;
      min-height: 100%;
      padding-top: 10px;

      &.row {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  .interior {
    &__text {
      font-size: 12px;
      flex: 1 1 45%;
      max-width: 80%;
      margin-bottom: 50px;
    }

    &__descr:before {
      bottom: -25%
    }

    &__pic {
      max-width: 80%;
      margin-bottom: 130px;
    }
  }
  .signature {
    height: 150px;
    padding: 1.3em 1.5em 2em 1.5em;
    font-size: 12px;
    bottom: -100px;
  }
}

@include mobile {

  .interior {
    &__text {
      font-size: 8px;
      flex: 1 1 27%;
      max-width: 90%;
      margin-bottom: 20px;

    }

    &__descr:before {
      bottom: 10px
    }

    &__pic {
      max-width: 90%;
      flex: 1 1 30%;
      margin-bottom: 40px;
    }
  }
  .signature {
    font-size: 10px;
    width: 250px;
    height: 138px;
    bottom: -20px
  }

}