$bg-color: #181719;
$font-color: #ffffff;
$font-poor: #828282;

$ffMon: Montserrat;
$ffLora: Lora;
$ffCrimson: 'Crimson Pro';
$ffPoppins: Poppins;

$breakpoint_xxl: 1200px;
$breakpoint_xl: 1024px;
$breakpoint_md: 767px;
$breakpoint_sm: 576px;